// Navigation Styles here

header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 20px 0 20px 0;
}

header nav {
    display: flex;
    margin-top: 15px;
}

header nav a {
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

.top-content {
    border-top: 1px dashed gray;
}

.top-content h2 {
    margin-top: 20px;
}

.top-content .top-text {
    border-bottom: 1px dashed gray;
    padding-bottom: 20px;
}